<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/style.css}" </head>

<body>
	<h1>管理ページ</h1>

	<hr>
	<table class="admin-table">
		<tr>
			<th class="admin-th">名前</th>
			<th class="admin-th">コメント</th>
			<th class="admin-th"></th>
			<th class="admin-th"></th>
		</tr>
		<tr th:each="list:${chatList}">
			<td class="admin-td" th:text="${list.name}">名前</td>
			<td class="admin-td" th:text="${list.comment}">コメント</td>
			<form th:action="@{/edit/{id}(id=${list.id})}">
				<td class="admin-td">
					<input type="submit" value="編集" />
				</td>
			</form>
			<form th:action="@{/del/{id}(id=${list.id})}">
				<td class="admin-td">
					<input type="submit" value="削除" />
				</td>
			</form>
		</tr>


	</table>
	<hr>
	<a href="/view">チャットルームへ</a><br>
	<a href="/home">トップページへ</a>
</body>

</html>